<!DOCTYPE html>

<html lang="es">


<head>

<meta charset="UTF-8">


<title>Error 404</title>


<style>

body {

    font-family: Arial;
    text-align: center;
    background: #eef3f8;
    padding-top: 100px;

}



.contenedor {

    background: white;
    width: 400px;
    margin:auto;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 15px #aaa;

}


h1 {

    color:#003366;
}


a {

    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#003366;
    color:white;
    text-decoration:none;
    border-radius:8px;

}



</style>


</head>



<body>


<div class="contenedor">


<h1>404</h1>


<h2>Página no encontrada</h2>


<p>
La página que intentas acceder no existe.
</p>


<a href="/">
Volver al inicio
</a>



</div>



</body>


</html>
